* {
    margin: 0;
    padding: 0;
}

.actions {
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
}

#buy {
    background-color: rgb(115, 208, 115);
}

#sell {
    background-color: lightblue;
}

#about {
    background-color: lightpink;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items > h1 {
    height: 100px;
    width: 100px;
    background-color: pink;
}

.items > p {
    height: 100px;
    width: 100px;
    background-color: lightblue;
}

.items > img {
    height: 100px;
    width: 100px;
}